---
import config_json from "../../review_templates/template_ar.json"; // ุงุณุชุฎุฏู ูุณุฎุฉ ุนุฑุจูุฉ ูู ุงููุงูุจ
import PageLayout from "../../layouts/PageLayout.astro";
import OptionForm from "../../components/OptionForm.astro";
import FlagSelect from "../../components/FlagSelect.astro";
---

<PageLayout title="ูุงูุจ ุชูููู ุณุชูู">
  <header class="bg-slate-700 text-white py-2 flex flex-col items-center">
    <h1>{"---{ ูุงูุจ ุงูุชูููู }---"}</h1>
    <FlagSelect />
    <p class="mt-0">โ ุฑููุจ</p>
  </header>

  <div class="max-w-screen-sm mx-auto px-4">
    <p>
      ุงูุฃุฏุงุฉ ูุฐู ุชุณููู ุนููู ูุชุงุจุฉ ุชููููุงุช ุณุชูู ุงููู ูุณุฎูุง ูุชุนุจุ ุฎุตูุตูุง ุงููู ูููุง ุชุนูููุงุช ุบุฑูุจุฉ ุฃู ุถุญู. ูู ูุตูุช ูููุง ูุฃููุฏ ุฅูู ุชุฏูุฑ ุงูุดู ุฐุง ๐.
    </p>
    <p>
      ุงูููุฏ ููุชูุญ ุงููุตุฏุฑ &rarr; <a
        href="https://github.com/VojtaStruhar/steam-review-template"
      >
        ุชูุฏุฑ ุชุดููู ุนูู Github</a
      >!
    </p>
    <p>
      ุชุญุช ุจูุทูุน ูู ุณุทุฑ ูุนุทููู ููู ูุฑูุฏุช (ุญููู)ุ ุชูุฏุฑ ุชุดููู ุจุณ ูู ุฎููุชู ุฃููู ูู ูู ุงูุดุงูุฑูู!
    </p>
    {
      config_json.categories.map((category, index) => (
        <OptionForm category={category} index={index} />
      ))
    }
    <div class="flex justify-center">
      <button
        id="output-button"
        class="py-4 px-8 text-lg font-bold rounded-lg border-none shadow bg-amber-400 hover:cursor-pointer hover:shadow-lg transition-all"
      >
        ุณููู ูู ุงูุชูููู!</button
      >
    </div>

    <div class="flex justify-center mt-4">
      <button
        id="copy-output"
        class="py-2 px-4 text-lg rounded-lg border-none shadow bg-sky-100 hover:cursor-pointer hover:shadow-lg transition-all"
      >
        ุงูุณุฎ ุงูุชูููู</button
      >
    </div>
  </div>
</PageLayout>
